{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "16.17.1",
          "chrome": "108"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "BdApi.React.createElement",
        "pragmaFrag": "BdApi.React.Fragment",
        "throwIfNamespace": false
      }
    ]
  ]
}
