.quantum {
  &.inputField {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    color: var(--text-normal);
    background-color: var(--input-background);
    border: none;
  }

  &.icon svg {
    width: 18px;
    height: 18px;
  }

  &.inputErrorText {
    display: inline-block;
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    color: #f40000;
    font-weight: 500;
  }
}
