.quantum.inputField {
  padding: 10px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  color: var(--text-normal);
  background-color: var(--input-background);
  border: none;
}

.quantum.context-menu.icon {
  width: auto;
  height: 100%;
}

.quantum.context-menu.icon svg {
  width: inherit;
  height: inherit;
}